@import './variables.css';
@import './reset.css';
@import './common.css';
@import './bg.css';
@import './logo.css';
@import './chat.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-family: 'Cuprum', sans-serif; */
}

.active {
  color: white;
  background-color: black;
  border-right: 4px;
  border: white;
}
